<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Restaurant_Management_System.Properties.Settings.ConnectionString"
            connectionString="Data Source=DESKTOP-TIPN3BA\MSSQLSERVER02;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Restaurant_Management_System.Properties.Settings.ProjetdegroupeConnectionString"
            connectionString="Data Source=DESKTOP-TIPN3BA\MSSQLSERVER02;Initial Catalog=Projetdegroupe;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>